<a href="https://colab.research.google.com/github/MidhileshDusanapudi/Assignment5/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style="white", color_codes=True)
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn import preprocessing, metrics
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore")

Question - 1 

Principal Component Analysis

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
datafrm=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/CC.csv')
datafrm.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [18]:
datafrm.isnull().any()

CUST_ID                             False
BALANCE                             False
BALANCE_FREQUENCY                   False
PURCHASES                           False
ONEOFF_PURCHASES                    False
INSTALLMENTS_PURCHASES              False
CASH_ADVANCE                        False
PURCHASES_FREQUENCY                 False
ONEOFF_PURCHASES_FREQUENCY          False
PURCHASES_INSTALLMENTS_FREQUENCY    False
CASH_ADVANCE_FREQUENCY              False
CASH_ADVANCE_TRX                    False
PURCHASES_TRX                       False
CREDIT_LIMIT                         True
PAYMENTS                            False
MINIMUM_PAYMENTS                     True
PRC_FULL_PAYMENT                    False
TENURE                              False
dtype: bool

In [19]:
datafrm.fillna(datafrm.mean(), inplace = True)
datafrm.isnull().any()

CUST_ID                             False
BALANCE                             False
BALANCE_FREQUENCY                   False
PURCHASES                           False
ONEOFF_PURCHASES                    False
INSTALLMENTS_PURCHASES              False
CASH_ADVANCE                        False
PURCHASES_FREQUENCY                 False
ONEOFF_PURCHASES_FREQUENCY          False
PURCHASES_INSTALLMENTS_FREQUENCY    False
CASH_ADVANCE_FREQUENCY              False
CASH_ADVANCE_TRX                    False
PURCHASES_TRX                       False
CREDIT_LIMIT                        False
PAYMENTS                            False
MINIMUM_PAYMENTS                    False
PRC_FULL_PAYMENT                    False
TENURE                              False
dtype: bool

1.(a)

Apply PCA on CC dataset.

In [20]:
#Using PCA, datasets can be analyzed and by that redundant features can be removed without losing information
pca = PCA(3)
x_pca = pca.fit_transform(x)
principaldf = pd.DataFrame(data = x_pca, columns = ['principal component 1', 'principal component 2', 'principal component 3'])
finaldf = pd.concat([principaldf, datafrm.iloc[:,-1]], axis = 1)
finaldf.head()

   principal component 1  principal component 2  principal component 3  TENURE
0           -4326.383979             921.566882             183.708383      12
1            4118.916665           -2432.846346            2369.969289      12
2            1497.907641           -1997.578694           -2125.631328      12
3            1394.548536           -1488.743453           -2431.799649      12
4           -3743.351896             757.342657             512.476492      12

b. Apply k-means algorithm on the PCA result and report your observation if the silhouette score
has improved or not?

In [21]:
X = finaldf.iloc[:,0:-1]
y = finaldf.iloc[:,-1]

In [22]:
nclusters = 3 
km = KMeans(n_clusters=nclusters)
km.fit(X)

# predict the cluster for each data point
y_cluster_kmeans = km.predict(X)

# predictions made by the classifier
print(classification_report(y, y_cluster_kmeans, zero_division=1))
print(confusion_matrix(y, y_cluster_kmeans))

#Accuracy
train_accuracy = accuracy_score(y, y_cluster_kmeans)
print("\nAccuracy Train data with PCA:", train_accuracy)

#Calculating Silhouette Score
score = metrics.silhouette_score(X, y_cluster_kmeans)
print("Silhouette Score: ",score)   #ranges from -1 to +1, high value shows that it is matched more

              precision    recall  f1-score   support

           0       0.00      1.00      0.00       0.0
           1       0.00      1.00      0.00       0.0
           2       0.00      1.00      0.00       0.0
           6       1.00      0.00      0.00     204.0
           7       1.00      0.00      0.00     190.0
           8       1.00      0.00      0.00     196.0
           9       1.00      0.00      0.00     175.0
          10       1.00      0.00      0.00     236.0
          11       1.00      0.00      0.00     365.0
          12       1.00      0.00      0.00    7584.0

    accuracy                           0.00    8950.0
   macro avg       0.70      0.30      0.00    8950.0
weighted avg       1.00      0.00      0.00    8950.0

[[   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [ 175   28    1    0    0    0    0    0    0    0]
 [ 173   15    2    0    0    0    0    0    0    0]
 [ 169   27    0    0    0    0    0    0    0    0]
 [ 149   26    0    0    0    0    0    0    0    0]
 [ 188   47    1    0    0    0    0    0    0    0]
 [ 284   78    3    0    0    0    0    0    0    0]
 [5389 2069  126    0    0    0    0    0    0    0]]

Accuracy Train data with PCA: 0.0
Silhouette Score:  0.5109307274319468

C. Perform Scaling+PCA+K-Means and report performance.

In [23]:
x = datafrm.iloc[:,1:-1]
y = datafrm.iloc[:,-1]
print(x.shape,y.shape)

(8950, 16) (8950,)

In [24]:
## Scale the dataset; This is very important before you apply PCA
scaler = StandardScaler()
scaler.fit(x)
X_scaled_array = scaler.transform(x)

# Instantiate PCA
pca = PCA(3)

# Determine transformed features
x_pca = pca.fit_transform(X_scaled_array)
principaldf = pd.DataFrame(data = x_pca, columns = ['principal component 1', 'principal component 2','principal component 3'])
finaldf = pd.concat([principaldf, datafrm.iloc[:,-1]], axis = 1)
finaldf.head()

   principal component 1  principal component 2  principal component 3  TENURE
0              -1.718893              -1.072935               0.535616      12
1              -1.169307               2.509342               0.627517      12
2               0.938414              -0.382592               0.161064      12
3              -0.907503               0.045876               1.521314      12
4              -1.637830              -0.684977               0.425745      12

In [25]:
x = finaldf.iloc[:,0:-1]
y = finaldf["TENURE"]
print(X.shape,y.shape)

(8950, 3) (8950,)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.34,random_state=0)
nclusters = 3 
km = KMeans(n_clusters=nclusters)
km.fit(X_train,y_train)


# predict the cluster for each training data point
y_clus_train = km.predict(X_train)

# Predictions made by the classifier
print(classification_report(y_train, y_clus_train, zero_division=1))
print(confusion_matrix(y_train, y_clus_train))

#Accuracy
train_accuracy = accuracy_score(y_train, y_clus_train)
print("Accuracy Train data with PCA:", train_accuracy)

#Calculating silhouette Score
score = metrics.silhouette_score(X_train, y_clus_train)
print("Silhouette Score: ",score)   #ranges from -1 to +1, high value shows that it is matched more

              precision    recall  f1-score   support

           0       0.00      1.00      0.00       0.0
           1       0.00      1.00      0.00       0.0
           2       0.00      1.00      0.00       0.0
           6       1.00      0.00      0.00     139.0
           7       1.00      0.00      0.00     135.0
           8       1.00      0.00      0.00     128.0
           9       1.00      0.00      0.00     118.0
          10       1.00      0.00      0.00     151.0
          11       1.00      0.00      0.00     262.0
          12       1.00      0.00      0.00    4974.0

    accuracy                           0.00    5907.0
   macro avg       0.70      0.30      0.00    5907.0
weighted avg       1.00      0.00      0.00    5907.0

[[   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [ 105    4   30    0    0    0    0    0    0    0]
 [ 108    1   26    0    0    0    0    0    0    0]
 [  96    4   28    0    0    0    0    0    0    0]
 [  89    2   27    0    0    0    0    0    0    0]
 [ 107    6   38    0    0    0    0    0    0    0]
 [ 185   11   66    0    0    0    0    0    0    0]
 [3393  739  842    0    0    0    0    0    0    0]]
Accuracy Train data with PCA: 0.0
Silhouette Score:  0.3812081983735332

In [27]:
# predict the cluster for each testing data point
y_clus_test = km.predict(X_test)

# Summary of the predictions made by the classifier
print(classification_report(y_test, y_clus_test, zero_division=1))
print(confusion_matrix(y_test, y_clus_test))

train_accuracy = accuracy_score(y_test, y_clus_test)
print("\n Accuracy Train Data with PCA:", train_accuracy)

#Calculating Silhouette Score
score = metrics.silhouette_score(X_test, y_clus_test)
print("Silhouette Score: ",score)   #ranges from -1 to +1, high value shows that it is matched more

              precision    recall  f1-score   support

           0       0.00      1.00      0.00       0.0
           1       0.00      1.00      0.00       0.0
           2       0.00      1.00      0.00       0.0
           6       1.00      0.00      0.00      65.0
           7       1.00      0.00      0.00      55.0
           8       1.00      0.00      0.00      68.0
           9       1.00      0.00      0.00      57.0
          10       1.00      0.00      0.00      85.0
          11       1.00      0.00      0.00     103.0
          12       1.00      0.00      0.00    2610.0

    accuracy                           0.00    3043.0
   macro avg       0.70      0.30      0.00    3043.0
weighted avg       1.00      0.00      0.00    3043.0

[[   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0]
 [  41    3   21    0    0    0    0    0    0    0]
 [  42    1   12    0    0    0    0    0    0    0]
 [  57    1   10    0    0    0    0    0    0    0]
 [  35    0   22    0    0    0    0    0    0    0]
 [  63    5   17    0    0    0    0    0    0    0]
 [  69    4   30    0    0    0    0    0    0    0]
 [1763  397  450    0    0    0    0    0    0    0]]

 Accuracy Train Data with PCA: 0.0
Silhouette Score:  0.38332303440750964

2. Use pd_speech_features.csv

In [28]:
datafrm_f = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pd_speech_features.csv')
datafrm_f.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [29]:
datafrm_f.isnull().any()

id                           False
gender                       False
PPE                          False
DFA                          False
RPDE                         False
                             ...
tqwt_kurtosisValue_dec_33    False
tqwt_kurtosisValue_dec_34    False
tqwt_kurtosisValue_dec_35    False
tqwt_kurtosisValue_dec_36    False
class                        False
Length: 755, dtype: bool

In [30]:
X = datafrm_f.drop('class',axis=1).values
Y = datafrm_f['class'].values

a. Perform Scaling

In [31]:
#Scaling Data
scaler = StandardScaler()
X_Scale = scaler.fit_transform(X)

b. Apply PCA (k=3)

In [32]:
# Apply PCA (k = 3)
pca3 = PCA(n_components=3)
principalComponents = pca3.fit_transform(X_Scale)

principaldf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2','Principal Component 3'])

finaldf = pd.concat([principaldf, datafrm_f[['class']]], axis = 1)
finaldf.head()

   principal component 1  principal component 2  Principal Component 3  class
0             -10.047372               1.471078              -6.846404      1
1             -10.637725               1.583748              -6.830980      1
2             -13.516185              -1.253541              -6.818698      1
3              -9.155083               8.833597              15.290892      1
4              -6.764470               4.611462              15.637111      1

In [33]:
X = finaldf.drop('class',axis=1).values
Y = finaldf['class'].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=0)

C. Use SVM to report Performance

In [34]:
from sklearn.svm import SVC

svmClassif = SVC()
svmClassif.fit(X_train, Y_train)

y_pred = svmClassif.predict(X_test)

# Predictions made by the classifier
print(classification_report(Y_test, y_pred, zero_division=1))
print(confusion_matrix(Y_test, y_pred))

# Accuracy score
glass_acc_svc = accuracy_score(y_pred,Y_test)
print(' Accuracy is ',glass_acc_svc)

#Calculate silhouette Score
score = metrics.silhouette_score(X_test, y_pred)
print("Silhouette Score: ", score)

              precision    recall  f1-score   support

           0       0.67      0.42      0.52        57
           1       0.83      0.93      0.88       170

    accuracy                           0.80       227
   macro avg       0.75      0.68      0.70       227
weighted avg       0.79      0.80      0.79       227

[[ 24  33]
 [ 12 158]]
 Accuracy is  0.801762114537445
Silhouette Score:  0.2543208652206898

3. Apply Linear Discriminant Analysis (LDA) on Iris.csv dataset to reduce dimensionality of data to k=2.

In [35]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [36]:
datafrm_i = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Iris (1).csv')

In [37]:
datafrm_i.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [38]:
x = datafrm_i.iloc[:,1:-1]
y = datafrm_i.iloc[:,-1]
print(x.shape,y.shape)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

(150, 4) (150,)

In [39]:
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)
l = LabelEncoder()
y = l.fit_transform(y)

In [40]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda = LDA(n_components=2)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)
print(X_train.shape,X_test.shape)

(105, 2) (45, 2)

4. Briefly identify the difference between PCA and LDA

Ans: 

## **PCA:**
Unsupervised machine learning techniques like PCA (Principal Component Analysis) are used to reduce dimensionality. Principal component analysis goal is to minimize the dimensionality of a data set made up of several variables that are moderately or strongly associated with one another while maintaining as much variety as possible.

PCA is mainly used for two reasons:
1. Visualize Classes
2.Dimensionality Reduction

**LDA**:

A supervised machine learning technique called LDA (Linear Discriminant Analysis) is used to distinguish between two groups or classes. Maximizing the separability between the two groups is the fundamental goal of linear discriminant analysis (LDA), which allows us to select the classification that is most appropriate for each group. Using a new linear axis and projecting the data points onto it, LDA, like PCA, aids in dimensionality reduction but focuses on optimizing the separability across recognized categories.

LDA work on what type of features gives more discrimination to split the data.